body{
    margin: 0;
}

/* 
css @import rule
css resetting value
Universal selector  
css selector
acceptable values
css combinator selector
css link selector
css color
css background properties
*/


/* css resetting all properties value */



/* Universal selector */


/* simple tag selecter*/



/* css class selector */



/*css id selector*/



/* Examples Combinator selector */

/* Descendent selector */



/* child selector */



/* adjuacent sibling selector*/



/* general sibling selector*/



/* link selector */

/* 
    link
    active
    hover
    visited
*/

a:link{
    background-color: red;
}
/* a:active{
    background-color: green;
} */
/* a:hover{
    background-color: yellow;
} */
/* a:visited{
    background-color: black;
} */


