/*  
    CSS FONT PROPERTIES
	CSS TEXT PROPERTIES
	CSS VERTICLE ALIGN
    CSS WHITE SPACE
    CSS VISIBILITY
*/

body{
    margin: 0;
}

/* css font properties */

/* 

1.font-family / Google font
2.font-size
3.font-style
4.font-variant
5.font-weight
6.line-height 

*/

.font-family p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.font-size p{
    font-size:1;
}

.font-style p:nth-child(1){
    font-style: italic;
}

.font-style p:nth-child(2){
    font-style: oblique;
}

.font-variant p:nth-child(1){
    font-variant: small-caps;
    /* font-variant: normal; */
}

.font-weight p:nth-child(1){
    /* font-weight: bold;
    font-weight: bolder;
    font-weight: lighter; */
    font-weight:900;
}

.line-height p{
    font-size: 15px;
    line-height:20px;
}

/*css text-properties */

/*
1.Text-color
2.Text-alignment
3.Text-decoration
4.Text-transformation
5.Text-indentation
6.Letter spacing
7.Text-direction
8.Text-shadow
9.Word spacing
10.Letter-spacing
*/

/* text-color */

.text-color p{
    color:green;
}

/* text-align */

.text-align p{
    text-align: left;
}
.text-align p{
    text-align: center;
}
.text-align p{
    text-align: right;
}
.text-align p{
    text-align: justify;
}

/* text-decoration */

.text-decoration p{
    text-decoration: overline;
}
.text-decoration p{
    text-decoration: line-through;
}
.text-decoration p{
    text-decoration: underline;
}
.text-decoration p{
    text-decoration: underline dotted red;
}
.text-decoration p{
    text-decoration: wavy red line-through;
}
.text-decoration p{
    text-decoration: none;
}

/* text-transform */

.text-transform p{
    text-transform: capitalize;
}
.text-transform p{
    text-transform: uppercase;
}
.text-transform p{
    text-transform: lowercase;
}
/* text-indent */

.text-indent p{
    text-indent: 200px;
    text-align: justify;
}

/* letter-spacing */

.letter-spacing p{
    letter-spacing: 10px;
}

/* word-spacing */

.word-spacing p{
    word-spacing: 50px;
}

/* text-direction */

.text-direction p{
    unicode-bidi: bidi-override;
    direction: rtl;
}

/* text-shadow */

.text-shadow p:nth-child(1){
    text-shadow: 5px 5px 2px rgb(0, 8, 255);
    /* x-axis y-axis bulriness color*/
}

/* css verticle align */

/* p .a{
    vertical-align:bottom;
}
p .b{
    vertical-align: baseline;
}
p .c{
    vertical-align: middle;
}
p .d{
    vertical-align: sub;
}
p .e{
    vertical-align: super;
}
p .f{
    vertical-align: text-bottom;
}
p .g{
    
    vertical-align: top;
}
P{
    font-size: 45px;
} */

/* css white space */

.whitespace{
    white-space:nowrap;
    white-space: pre;
}

/* css visibility */

h1{
    visibility:none;
}




