/*
    CSS TRANSFORM PROPERTIES
    CSS TARNSITION PROPERTIES
    CSS FILTER PROPERTIES
*/

/* css 2D transform */



/* css 3D transform */

/* .cover{
    border: 2px solid red;
    height: 400px;
    width: 400px;
    margin:200px 300px;
}

.cover:hover .content{
    transform: perspective(300px) rotate3d(120 ,30, 50, 360deg);
    transition: 8s;
}
.content{
    height: 400px;
    width: 400px;
    background-color: green;
} */


/* css transition */




/*******************************************************/


/* css filter */













