*{
  box-sizing: border-box;
}
body{
  margin: 0;
}


/************ css overlay ***********/






/******* css value and units *******/

.box{
  height: 100px;
  width: 100px;
  background-color: green;
}
.box-1{
  height: initial;
  width: initial;
  background-color: gray;
}

   
/**** css background blend mode  ****/

.back{
  height: 100vh;
  background-image:url("../image/earth.jpg") , url("../image/pexels-luis-del-río-15286.jpg");
  background-repeat: no-repeat;
  background-blend-mode:  soft-light;
}



