body{
    margin: 0;
}

/*  
    CSS COLOR
    CSS BACKGROUND PROPERTIES
    CSS BORDER
    MULTIPLE BORDER
    BORDER-RADIUS
	CSS OUTLINE
	CSS OPACITY
    CSS BUTTON
*/

/* css color */




/* css background properties */



/* .linear-gradient-1{
    height: 500px;
    width:100%;
    background: linear-gradient(to top, red, blue , yellow);
} */

/* .diagonal-linear-gradient {
    height: 500px;
    width:100%;
    background: linear-gradient(to bottom left, red 50% , yellow 50%);
} */

/* .linear-gradient-rainbow {
    height: 500px;
    width:100%;
    background: linear-gradient(to top, red, orange, yellow, green, blue, indigo, violet)
} */

/* .radial-gradient-simple {
    height: 100px;
    width:100%;
    background: radial-gradient( red, orange, yellow, green, blue, indigo, violet);
} */

/* .radial-gradient {
    height: 100vh;
    width:100%;
    background: radial-gradient(circle farthest-corner at top, red, blue);
} */

/* .bullseye {
    height: 100vh;
    width:100%;
    background: repeating-radial-gradient(red, red 10%, white 10%, white 20%);
} */

/* .warning {
    height: 100vh;
    width:100%;
    background: repeating-linear-gradient(-45deg, yellow, yellow 10%, black 10%, black 20% );
} */

/* .conic{
    height: 400px;
    width: 400px;
    background-color: red;
    background-image: conic-gradient(red, yellow, green);
}  */


/* css border properties */

/* css border types
    solid
    dotted
    dashed
    double
    hidden
    none
    ridge
    inset
    outset
    groove
*/



/* border radius */



/* css outline properties */

/*
outline:none;
outline:width style color;
*/


/* css opacity */

    

/* css button */

/* button tag */


 
/* anchor tag */




/* input type button */






