/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); */


/* CSS INDEX
            
    GOOGLE FONT
    OFFLINE FONT
    CSS DISPLAY PROPERTIES
    CSS FLEX-PROPERTIES
    CSS FLEX-BOX

*/

/* css offline font */

/* .online-font{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}
.offline-font{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
} */

/* css display properties */

.display-none{
    /* display: none; */
    /* visibility: collapse; */
}

/* .display-inline{
    display: inline;
} */
/* span{
    display: block;
} */

/* p{
    height: 200px;
    width: 500px;
    background-color: green;
    color:white;
    display: inline-block;
} */

/* .box{
    display: flex;
    flex-direction:row;
} */

/* .demobox-1{
height:200px;
width:200px;
background-color: blueviolet;
display: inline-block;
} */

/* css flex-properties */

.mainbox{
    height:500px;
    width:1400px;
    background-color: gray; 
    display: flex;
}

.mainbox div{
    flex-basis: 150px;
    /* flex-grow: 1; */
}

.box-1{
    /* flex-grow: 1; */
    flex-shrink: 3;
    background-color: rgb(130, 188, 30);
}
.box-2{ 
    /* flex-grow: 4; */
    background-color: rgb(203, 233, 153);
}
.box-3{
    /* flex-grow: 1; */
    background-color: rgb(30, 151, 188);
}
.box-4{
    /* flex-grow: 1; */
    background-color: rgb(210, 171, 17);
}
.box-5{
    background-color: rgb(19, 9, 138);
}
.box-6{
    background-color: rgb(80, 8, 93);
}
.box-7{
    background-color: rgb(231, 26, 26);
}
.box-8{
    background-color: rgb(25, 128, 144);
}
.box-9{
    background-color: rgb(220, 23, 141);
}
.box-10{
    background-color: brown;
}
.box-11{
    background-color: rgb(20, 12, 69);
}
.box-12{
    background-color: rgb(213, 15, 81);
}

/* css flex-box / flex-container properties */

.mainbox1{
    display: flex;
    /* height:600px; */
    /* width: 450px; */
    /* max-width: 1300px; */
    /* border:5px solid red; */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap;       */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse ; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-flow: column wrap; */
    /* flex-flow: row-reverse wrap-reverse; */
    /* align-self: flex-start; */
    /* align-self: flex-end; */
    /* align-self: center; */
    /* align-self: start;  */
    /* align-self: end;  */
    /* align-self: self-start;  */
    /* align-self: self-end;  */
}

/* .mainbox1 img{
    border-radius: 20px;
    object-fit: cover;
} */

.box-100{
    background-color :blue;
    width:50px;
    height:50px;
    font-size: 50px;
    align-self:end;
}
.box-200{
    background-color: rgb(63, 63, 154);
    height: 50px;
    width:50px;
    font-size: 50px;
    color:white;
}

.box-300{
    background-color: rgb(57, 127, 104);
    height: 50px;
    width:50px;
    font-size: 50px;
    color:white;
}
.box-400{
    background-color: rgb(167, 224, 148);
    height: 50px;
    width:50px;
    font-size: 50px;
    color:white;
}
.box-500{
    background-color: rgb(189, 214, 25);
    height: 50px;
    width:50px;
    font-size: 50px;
}
.box-600{
    background-color: rgb(177, 185, 30);
    height: 50px;
    width:50px;
    font-size: 50px;
    color:white;
}
.box-700{
    background-color: rgb(30, 176, 35);
    height: 50px;
    width:50px;
    font-size: 50px;
    color:white;
}
.box-800{
    background-color: rgb(86, 12, 63);
    height: 50px;
    width:50px;
    font-size: 50px;
    color:white; 
}
.box-900{
    background-color: rgb(146, 6, 6);
    height: 50px;
    width:50px;
    font-size: 50px;
    color:white;
}
  

/* flex-direction
 row and row-reverce

 justify-content :- direction-horizontally
 align-items:- direction-verticlly

 column and column-reverce

 justify-content :- direction-verticlly
 align-items:- direction-horizontally
 
 */

 /* flex order properties */

 .mainbox2{
    height: 500px;
    max-width: 1000px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }

 .box-110{
    height: 100px;
    width: 300PX;
    background-color: red;
    font-size: 25px;
    font-weight: bold;
 }

 .box-120{
    height: 100px;
    width: 400PX;
    background-color: rgb(231, 251, 14);
    font-size: 25px;
    font-weight: bold;
 }

 .box-130{
     height: 100px;
     width: 200PX;
     background-color: rgb(28, 255, 7);
     font-size: 25px;
     font-weight: bold;
    }
    .box-140{
        height: 100px;
        width: 100PX;
        background-color: rgb(89, 0, 255);
        font-size: 25px;
        font-weight: bold;
    }
    @media (max-width:400px){
       .box-110{
           order:1;
       }
       .box-120{
           order:2;
       }
       .box-130{
        order:4;
    }
    .box-140{
        order:3;
    }
    }