/* css online font */


/* css offline font */



/* css display properties */

.box-1{
    height: 100px;
    width: 100px;
    background-color: red;
    border:1px solid black;
}

.box-2{
    height: 100px;
    width: 100px;
    background-color: red; 
    border:1px solid black;
}
.box-3{
    height: 100px;
    width: 100px;
    background-color: red; 
    border:1px solid black;
}
.box-4{
    height: 100px;
    width: 100px;
    background-color: red; 
    border:1px solid black;
}
.box-5{
    height: 100px;
    width: 100px;
    background-color: red; 
    border:1px solid black;
}
.mainbox{
    display: flex;
    justify-content: space-around;
}



/* css flex-properties */


